@model CodeHipser.Models.Section
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    @Model.Content
    <iframe src="http://www.youtube.com/embed/FG0fTKAqZ5g" height="315" width="560" allowfullscreen="" frameborder="0"></iframe>
</div>