@model CodeHipser.Models.Course
    @{
    ViewData["Title"] = "Index";
    }
@using CodeHipser.Components
<div class="row">
    <aside class="col-sm-4">
        <h4>@Model.Name</h4>
        @await Component.InvokeAsync(nameof(Navigation))
    </aside>
    <div id="contentBlock"></div>
</div>




@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".course-item").click(function () {
                var url = '@Url.Action("CourseDetails", "Course")';
                var sectionId = $(this).attr("data-section-id");
                $("#contentBlock").load(url, { id: sectionId });
            });
        });
    </script>
}


