@model CodeHipser.Models.Dtos.QuizDto
@{
    ViewData["Title"] = "Quiz";
var tt = 0;

}



<div>@Model.Questions.First().QuestionText</div>
<div>
    @foreach (var answer in Model.Questions.FirstOrDefault().Answers)
    {


        <input type="radio" name="answer" /><span>@answer.AnswerText</span>


    }
</div>

<div>@ViewBag.Greeting</div>





