@model CodeHipser.Models.Dtos.QuizDto
@{
    ViewData["Title"] = "Quiz";
    var _currentCount = 0;
    var _totalCount = 0;
    var _succesessCount = 0;
    var _questions = Model.Questions.ToList();

}




    <div>
        @await Component.InvokeAsync("QuizQuestion", new
   {
       currentQuestion = _questions[0],
       currentCount = _currentCount,
       totalCount = _totalCount,
       themeName = Model.Parent.Name
   })
    </div>

    <br/>

    <div class="row">


        <div style="text-align:left; padding:0" class="col-md-6">
            <button class="btn-default">Previous</button>
        </div>

        <div style="text-align:right; padding:0" class="col-md-6">
            <button class="btn-default">Next</button>
        </div>



    </div>

 





