@model CodeHipser.Models.Dtos.QuestionDto
@{
    ViewData["Title"] = "Quiz";
    
}
<h2>@ViewData["Title"]</h2>
<h1>@ViewData["Message"]</h1>

<div>@Model</div>
<div>@ViewBag.Greeting</div>


<div>Hello world!</div>