body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: snow;
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/*-----------------------------------------------Carousel-------------------------------------------------*/
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/*-----------------------------------------Sidebar Navigation----------------------------------------------*/



/*-----------------------------------------Media Queries---------------------------------------------------*/
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.jqtree_common {
   
    top: 100%;
    left: 0;
    z-index: 1000;
     /*float: left;*/
    
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    /*background-color: #3a3f44;*/
    
    line-height: 1.42857143;
    
}

.jqtree-element {
    border: 3px solid;
    border-color:aliceblue;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: lightgrey;
    background-clip: padding-box;
    
}



ul.jqtree-tree ul.jqtree_common ul.jqtree_common li.jqtree_common:hover .jqtree-element {
    background-color: darkgray;
}




.jqtree-title{
    text-align: left;
    
}

.classcontentblock {

    padding: 5px 0;
    text-align: center;
    line-height: 1.42857143;
    border: 3px solid;
    border-color: aliceblue;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.classcontentblock1 {
    margin-top: 50px;
    padding: 5px 0;
    text-align: center;
    line-height: 1.42857143;
    border: 3px solid;
    border-color: aliceblue;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    display:none;

}

ul.jqtree-tree .jqtree-title{
color: darkblue;
}

.scroll {
    margin-top: 50px;
    overflow: hidden;
    overflow-y: initial;
    height: 500px;
    
}

    .scroll.classcontentblock {
        margin-top: 70px;
    }
    .col-sm-7 {
    
    float: right;
}


.navbar-inverse {
    background-color: #5782b7;
    border-color: #1967be;
}

.navbar {
    min-height: 100px;
}




footer {
    background-color: #49494b;
    font-weight: 300;
    color: #eaeaea;
}

    footer .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

