@model List<CodeHipser.Models.Section>
@using CodeHipser.Components

<div class="panel-group" id="parentId">
        @Html.Partial("~/Views/Shared/Components/Navigation/MenuItem.cshtml", Model)
</div>


